{{#v-form model=user }}
  {{#if effectiveErrorText}}
    <p>
      {{effectiveErrorText}}
    </p>
  {{/if}}

  {{#v-form-group property="email"}}
    <label>Email</label>

    {{input
      placeholder="Type your email"
      value=user.email
    }}
  {{/v-form-group}}

  {{#v-form-group property="password"}}
    <label>Password</label>

    {{input
      type="password"
      value=user.password
      placeholder="Don't be careless"
    }}
  {{/v-form-group}}

  <button
    disabled={{authTaskGroup.isRunning}}
    {{action (perform loginTask)}}
  >
    {{if loginTask.isIdle 'Login' 'Logging in...'}}
  </button>

  <button
    disabled={{authTaskGroup.isRunning}}
    {{action (perform signupTask)}}
  >
    {{if signupTask.isIdle 'Signup' 'Signing in...'}}
  </button>

  <button
    disabled={{authTaskGroup.isRunning}}
    {{action 'socialAuth' 'github'}}
  >
    Github OAuth
  </button>
{{/v-form}}