<h4>{{task.name}}</h4>

<p>
  Id: {{task.id}}
</p>

<p>
  Owner: {{task.owner.displayName}} {{task.owner.id}}
</p>

<p>
  <a
    href
    {{action (perform deleteTask)}}
  >
    {{if deleteTask.isIdle 'Delete' 'Deleting...'}}
  </a>
</p>